<div class="max-h-25 overflow-y-auto">
    <ul class="space-y-4">
      <li class="flex items-center space-x-4 p-2 bg-white border-b border-gray-300 rounded-lg">
        <div>
          <p class="text-xl">Voto para Juan Pérez</p>
        </div>
      </li>
  
      <li class="flex items-center space-x-4 p-2 bg-white border-b border-gray-300 rounded-lg">
        <div>
          <p class="text-xl">Voto para María López</p>    
        </div>
      </li>
  
      <li class="flex items-center space-x-4 p-2 bg-white border-b border-gray-300 rounded-lg">
        <div>
          <p class="text-xl">Voto para Carlos Ruiz</p>          
        </div>
      </li>
  
      <li class="flex items-center space-x-4 p-2 bg-white border-b border-gray-300 rounded-lg">
        <div>
          <p class="text-xl">Voto para Ana Martínez</p>        
        </div>
      </li>
  
      
    </ul>
  </div>
